Package: appstream-data-pop-icons-hidpi
Source: appstream-data-pop
Version: 0.0.2
Architecture: all
Maintainer: Blake Kostner <blake@system76.com>
Installed-Size: 294
Depends: appstream-data-pop-icons
Section: misc
Priority: optional
Description: HiDPI icons for AppStream data in Pop!_OS
 This package contains metadata used by component-aware software
 installers and software-centers (such as GNOME-Software, Apper and
 KDE Discover) to display extended information about the software
 available for Pantheon.
